.container {
    height: auto;
    display: flex;
    ;
    width: 50%;

}

.contentInfo {
    width: 60%;
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    color: var(--Orange);
}

.title {
    font-size: 3rem;
}

.description {
    color: var(--Dark-grayish-blue);
    margin: 1rem 0;
}

.content-price {}

.price {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price span:nth-child(1) {
    font-size: 1.6rem;
    font-weight: 600;
}

.price span:nth-child(2) {
    font-size: 1rem;
    padding: .2rem .6rem;
    background-color: var(--Pale-orange);
    color: var(--Orange);
    font-weight: 600;
}

.descont {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.add-cart {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

.amount {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: .4rem;
    padding:  .5rem .8rem;
    background-color: var(--Light-grayish-blue);
}

.amount span {
    font-weight: 800;
    
}

.amount span:nth-child(1) {
    color: var(--Orange);
    font-size: 1.8rem;
    cursor: pointer;
}

.amount span:nth-child(2) {
    font-size: 1rem;
}


.amount span:nth-child(3) {
    color: var(--Orange);
    font-size: 1.8rem;
    cursor: pointer;
}

.btn-add {
    border: none;
    border-radius: .4rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;

    padding: 1rem 4rem;
    width: 100%;
    background-color: var(--Orange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

