.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.navbar {
    padding: 2rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1px solid silver;
}


.nav {
    display: flex;
    gap: 3rem;
}

.navitems {
    display: flex;
    gap: 1.8rem;
}

.item {
    text-decoration: none;
    color: var(--Dark-grayish-blue);
    font-size: 1.1rem;
}

.content {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.cart {
    width: 30px;
    cursor: pointer;
}

.amountProduct {
    padding: .1rem .4rem;
    color: white;
    border-radius: 50%;
    font-weight: 600;
    background-color: var(--Orange);
    position: absolute;
    top: 5px;
    left: 10px;
}

/* ============================ */

.cartAmount {
    width: 300px;

    padding: 0 0 1rem 0;
    background-color: white;
    position: absolute;
    top: 70px;
    left: -100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#titleCart {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    align-self: flex-start;

    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.cartAmount div {
    display: flex;
    align-items: center;
    gap: .2rem;
    margin: 1rem;
}

.cartAmount div img {
    width: 70px;
    height: 70px;
    border-radius: 4px;
}

#deleteCart {
    width: 15px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

.infoCartAmoun {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.infoCartAmoun p {
    text-align: start;
    color: gray;
    font-weight: 500;
}

.infoCartAmoun .priceCartAmount {
    width: 100%;
    color: gray;
    text-align: start;
    font-weight: 500;
    font-size: 1rem;

}

.infoCartAmoun .priceCartAmount strong {
    color: black;
}

.cartAmount button {
    padding: .7rem 0;
    border: none;
    border-radius: .4rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;

    padding: 1rem 4rem;
    width: 90%;
    background-color: var(--Orange);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
    margin: auto;
}

.avatar {
    width: 4rem;
}

@media (max-width:768px) {
    .logo{
        position: absolute;
        top:50px;
        left:80px;
    }
    .navitems{
        display: none;
    }

    .container{
        justify-content: space-between;
        gap: 1rem;
    }

    .navbar{
        padding: 1rem;
        width:100%;
    }
    .mobile{
        padding: 1rem ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile .contentMobile{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .mobile .open{
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }
    .mobile .open div{
        height: 5px;
        background-color: gray;
        width: 25px;
    }

    .content{
        margin: 0;
    }

    .content .amountProduct{
        pointer-events: none;
    }

    .content .avatar{
        width: 3rem;
    }
    
    .content .cartAmount{
        width: 350px;
        top: 80px;
        left: -230px;
        border-radius: 1rem;    
    }
}


@media (max-width:425px) {
    .logo{
        top:40px;
        width: 80px;
    }
    .navitems{
        display: none;
    }

    .container{
        justify-content: space-between;
        gap: 1rem;
    }

    .mobile{
        padding: 1rem ;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile .contentMobile{
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    .mobile .open{
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }
    .mobile .open div{
        height: 5px;
        background-color: gray;
        width: 25px;
    }

    .content{
        margin: 0;
    }

    .content .amountProduct{
        pointer-events: none;
    }

    .content .avatar{
        width: 3rem;
    }
    
    .content .cartAmount{
        width: 300px;
        top: 80px;
        left: -175px;
        border-radius: 1rem;    
    }
    
}



