.container {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 0 0 6rem;
}

.content-image {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image {
    width: 450px;
    border-radius: 1rem;

}

.content-thumbnail {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.thumbnail {
    width: 100px;
    border-radius: 1rem;
    cursor: pointer;
}

@media (max-width:425px) {

    .container {
        width: 100%;
        padding: 0;
    }

    .image {
        width: 100%;
        border-radius: 0;
    }

    .content-thumbnail{
        display: none;
    }
}